body{
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../img/home_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.other-info{
  text-align : center;
}

.box p{
  letter-spacing: 3px;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
.btn{
  display: inline-block;
  padding: 10px 100px;

  margin-top: 30px;
  margin-bottom: 20px;
  word-spacing: 4px;
  letter-spacing: 3px;

  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2;

  /*we can maek another class*/
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn:hover{
  background-color: #0049a3;
}