*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../img/services_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 100vh;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	font-family: 'Flamenco', cursive;
}


.clearfix:after{
	content: "."; 
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;

}

.row{
	max-width: 1180px;
	margin: 0 auto;
}


.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}


.main-nav{
	float: right;
	margin-top: 60px
}


.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}


.main-nav li a{
	padding: 5px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #57ff19
}
.services{
	border-bottom: 2px solid #57ff19
}


/*change in website*/

@media only screen and (max-width: 768px){
	.main-nav{display: none;}
}