@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
	margin: 0px;
	padding: 0px;

	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../img/signup_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 100vh;

	font-size: 20px;
	overflow-x: hidden;
	font-family: 'Flamenco', cursive;
	box-sizing: border-box;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.clearfix:after{
	content: "."; 
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;

}

.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}


.main-nav{
	float: right;
	margin-top: 60px
}


.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #57ff19
}
.signup{
	border-bottom: 2px solid #57ff19
}

.signup-box-back{
	background: rgba(44,62,80,0.7);
	padding: 40px ;
	width: 340px;
	margin: auto;
	margin-top: 80px;
	height: 520px;
	margin-left: 180px;
	margin: 0 auto;
	margin-top: 20px;
}

.signup-box{
	width: 326px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}
.signup-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 80px;
	padding: 13px 0;
	word-spacing: 5px;
	letter-spacing: 3px;
	font-family: 'Papyrus';
}
.btn{
	display: inline-block;
	margin-top: 30px;
	word-spacing: 4px;
	letter-spacing: 3px;

	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;

	/*we can maek another class*/
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.btn-customer{
	padding: 10px 100px;
}

.btn-babysiter{
	padding: 10px 92px;
}

.btn-babysiter:hover{
	background-color: #0049a3;
}

.btn-customer:hover{
	background-color: #9803fc;
}

.login{
	word-spacing: 1px;
	letter-spacing: 1px;
}
.login a{
	color: yellow;
	text-decoration: blink;
}
.login a:hover{
	color: skyblue;
}
.moveLogin{
	padding: 12px;
}
/**/
/*change in website*/
